# SQL III

## Inserindo novos dados

Inserir instrução com valores para todas as colunas

In [ ]:
INSERT INTO mytable
VALUES (value_or_expr, another_value_or_expr, …),
       (value_or_expr_2, another_value_or_expr_2, …),
       …;

Inserir instrução com colunas específicas

In [ ]:
INSERT INTO mytable
(column, another_column, …)
VALUES (value_or_expr, another_value_or_expr, …),
      (value_or_expr_2, another_value_or_expr_2, …),
      …;

Exemplo de instrução de inserção com expressões

In [ ]:
INSERT INTO boxoffice
(movie_id, rating, sales_in_millions)
VALUES (1, 9.9, 283742034 / 1000000);

Inserir instrução com valores para todas as colunas vindo de outra tabela.

In [ ]:
INSERT INTO mytable
SELECT *, funcao(coluna)
FROM another_table
WHERE condicao;

##  Atualizando linhas

In [ ]:
UPDATE mytable
SET column = value_or_expr, 
    other_column = another_value_or_expr, 
    …
WHERE condition;

A instrução funciona tomando vários pares de coluna/valor e aplicando essas alterações a cada linha que satisfaça a restrição na WHERE cláusula. Deixando de fora acidentalmente a WHERE cláusula faz com que a atualização se aplique a todas as linhas). 

Uma dica útil é sempre escrever a restrição primeiro e testá-la em uma SELECT consulta para ter certeza de que está atualizando as linhas corretas e só então escrever os pares coluna/valor a serem atualizados.

Exemplo:

In [ ]:
UPDATE movies
SET title = "Toy Story 3", director = "Lee Unkrich"
WHERE id = 11;

## Excluindo linhas

In [ ]:
DELETE FROM mytable
WHERE condition;

In [ ]:
DELETE FROM movies
where director = "Andrew Stanton";

## Criando tabelas

A estrutura da nova tabela é definida por seu esquema de tabela , que define uma série de colunas. Cada coluna tem um nome, o tipo de dados permitido nessa coluna, uma restrição de tabela opcional nos valores que estão sendo inseridos e um valor padrão opcional.

In [ ]:
CREATE TABLE IF NOT EXISTS mytable (
    column DataType TableConstraint DEFAULT default_value,
    another_column DataType TableConstraint DEFAULT default_value,
    …
);

In [ ]:
CREATE TABLE movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    director TEXT,
    year INTEGER, 
    length_minutes INTEGER
);

In [ ]:
CREATE TABLE Database (
    Name TEXT,
    Version FLOAT,
    Download_count INTEGER
);

##  Alterando tabelas

### Adicionando colunas

In [ ]:
ALTER TABLE mytable
ADD column DataType OptionalTableConstraint 
    DEFAULT default_value;

In [ ]:
ALTER TABLE Movies
  ADD COLUMN Aspect_ratio FLOAT DEFAULT 2.39;

ALTER TABLE Movies
  ADD COLUMN Language TEXT DEFAULT "English";

### Removendo colunas

In [ ]:
ALTER TABLE mytable
DROP column_to_be_deleted;

### Renomeando a tabela

In [ ]:
ALTER TABLE mytable
RENAME TO new_table_name;

## Eliminando tabelas

Difere da DELETEinstrução, pois também remove o esquema da tabela do banco de dados completamente.

In [ ]:
DROP TABLE IF EXISTS mytable;