# SQL

In [ ]:
SELECT DISTINCT column, AGG_FUNC(column_or_expression), … AS expr_description, ...
FROM a_long_widgets_table_name AS mywidgets
    INNER/LEFT/RIGHT/FULL/CROSS JOIN another_table
      ON mytable.column = another_table.column
    WHERE (ABS(column) * 10.0 > 500) IS/IS NOT NULL
      AND/OR another_condition
      AND/OR …
    GROUP BY column
    HAVING constraint_expression
    ORDER BY column, ... ASC/DESC
    LIMIT num_limit OFFSET num_offset;

In [ ]:
SELECT titulo, resumo, postagem, nome, comentario
FROM postagens
  INNER JOIN conteudo ON postagens.id = conteudo.postagensId
  INNER JOIN comentarios ON postagens.id = comentarios.postagensId

## Ordem de execução da consulta

### 1. FROM e JOINs

A FROM cláusula e os JOINs subsequentes são executados primeiro para determinar o conjunto de trabalho total de dados que está sendo consultado. Isso inclui subconsultas nesta cláusula e pode fazer com que tabelas temporárias sejam criadas sob o capô contendo todas as colunas e linhas das tabelas que estão sendo unidas.

### 2. WHERE

Uma vez que tenhamos o conjunto de dados de trabalho total, as WHERE restrições de primeira passagem são aplicadas às linhas individuais e as linhas que não satisfazem a restrição são descartadas. Cada uma das restrições só pode acessar colunas diretamente das tabelas solicitadas na FROM cláusula. Os aliases na SELECT parte da consulta não são acessíveis na maioria dos bancos de dados, pois podem incluir expressões dependentes de partes da consulta que ainda não foram executadas.

#### Valores numéricos
| Operador | Condição | Exemplo SQL | 
| --- | --- | --- |
| =, !=, < <=, >, >= | Operadores numéricos padrão | 	col_name != 4 |
| BETWEEN … AND … | O número está dentro do intervalo de dois valores (inclusive) | col_name BETWEEN 1.5 AND 10.5 |
| NOT BETWEEN … AND … | O número não está dentro do intervalo de dois valores (inclusive) | col_name NOT BETWEEN 1 AND 10 |
| IN (…) | O número existe em uma lista | col_name IN (2, 4, 6) |
| NOT IN (…) | O número não existe em uma lista | col_name NOT IN (1, 3, 5) |

#### Strings
| Operador | Condição | Exemplo SQL | 
| --- | --- | --- |
| = | 	Comparação de string exata sensível a maiúsculas e minúsculas ( observe os iguais únicos ) | col_name = "abc" |
| != or <> | 	Comparação de desigualdade de string exata sensível a maiúsculas e minúsculas | col_name != "abcd" |
| LIKE | 	Comparação exata de strings sem distinção entre maiúsculas e minúsculas | col_name LIKE "ABC" |
| NOT LIKE | Comparação de desigualdade de string exata sem distinção entre maiúsculas e minúsculas | col_name NOT LIKE "ABCD" |
| % | Usado em qualquer lugar em uma string para corresponder a uma sequência de zero ou mais caracteres (somente com LIKE ou NOT LIKE) | col_name LIKE "%AT%"(matches "AT", "ATTIC", "CAT" or even "BATS") |
| _ | Usado em qualquer lugar em uma string para corresponder a um único caractere (somente com LIKE ou NOT LIKE) | col_name LIKE "AN_" (matches "AND", but not "AN") |
| IN (…) | A string existe em uma lista | col_name IN ("A", "B", "C") |
| NOT IN (…) | A string não existe em uma lista | 	col_name NOT IN ("D", "E", "F")

### 3. GROUP BY

As linhas restantes após a WHERE aplicação das restrições são agrupadas com base em valores comuns na coluna especificada na GROUP BY cláusula. Como resultado do agrupamento, haverá apenas tantas linhas quantos forem os valores exclusivos nessa coluna. Implicitamente, isso significa que você só precisa usar isso quando tiver funções agregadas em sua consulta.

### 4. HAVING

Se a consulta tiver uma GROUP BY cláusula, as restrições na HAVING cláusula serão aplicadas às linhas agrupadas, descarte as linhas agrupadas que não atendem à restrição. Assim como a WHERE cláusula, os aliases também não podem ser acessados ​​nesta etapa na maioria dos bancos de dados.

### 5. SELECT

Quaisquer expressões na SELECTparte da consulta são finalmente computadas.

#### 
| Função | Descrição |
| --- | --- |
| COUNT(*), COUNT(column) | Uma função comum usada para contar o número de linhas no grupo se nenhum nome de coluna for especificado. Caso contrário, conte o número de linhas no grupo com valores não NULL na coluna especificada. |
| MIN(column) | Localiza o menor valor numérico na coluna especificada para todas as linhas do grupo. |
| MAX(column) | Localiza o maior valor numérico na coluna especificada para todas as linhas do grupo. |
| AVG(column) | Localiza o valor numérico médio na coluna especificada para todas as linhas do grupo. |
| SUM(column) | Localiza a soma de todos os valores numéricos na coluna especificada para as linhas do grupo. |

### 6. DISTINCT

Das linhas restantes, as linhas com valores duplicados na coluna marcada como DISTINCT serão descartadas.

### 7. ORDER BY

Se uma ordem for especificada pela ORDER BY cláusula, as linhas serão classificadas pelos dados especificados em ordem crescente ou decrescente. Como todas as expressões na SELECT parte da consulta foram calculadas, você pode fazer referência a aliases nesta cláusula.

### 8. LIMIT/OFFSET

Por fim, as linhas que estão fora do intervalo especificado por LIMITe OFFSET são descartadas, deixando o conjunto final de linhas a ser retornado da consulta.